html, body {
    background-color: #151515;
    height: 100%;
    margin: 0;
    color: white;
}

* {
    font-family: Sport;
}

.mainCont {
    width: 100%;
    height: 100%;
}

.headWallpers{
    width: 100%;
    background: #000;
}
.headWallpers img {
    height: 800px;
    opacity: 0.6;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.headWallpersText{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
}

.headWallpersText p1{
    font-size: 58px;
    font-weight: bold;
    text-align: center;
}

.traningInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #151515; */
    width: 100%;
    margin: 100px 0px 0px 0px;
    flex-direction: row;
}

.traningInfoTextBlock{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.traningInfoTextBlock p2{
    margin: 0px 20px;
    font-size: 18px;
}

.traningInfoTextBlock p1{
    margin: 80px 20px 50px 20px;
    border-bottom: 2px solid #00FFFF;
    padding: 0px 0px 20px 0px;
    font-size: 40px;
    font-weight: bold;
}

.traningInfo video{
    width: 750px;
    height: 100%;
    padding: 0px 20px 00px 0px;
}

.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
    margin: 100px 0px 0px 0px;
    width: 100%;
    /*height: 750px;*/
}

.slideshow-container-text{
    width: 100%;
    text-align: center;
    margin: 0px 0px 40px 0px;
}

.slideshow-container-text p3{
    margin: 80px 20px 50px 20px;
    border-bottom: 2px solid #00FFFF;
    padding: 0px 0px 20px 0px;
    font-size: 40px;
    font-weight: bold;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    /*top: 50%;*/
    width: auto;
    padding: 16px;
    margin-top: -252px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .8}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .8}
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

.containerSlider{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.containerSliderText{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 21px 0px 20px;
}

.containerSliderText p1{
    font-size: 40px;
    margin: 0px 0px 20px 0px;
}

.containerSliderText p2{
    font-size: 18px;
    margin: 0px 0px 0px 20px;
}

.sketchfab-embed-wrapper{
    background: #2d2d2d;
    border-radius: 15px;
    opacity: 0.9;
    margin: 10px 0px 0px 30px;
}

.progrInfoConteiner{
    margin: 100px 0px 0px 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.progrInfoConteiner p1{
    margin: 0px 20px 30px 20px;
    padding: 0px 0px 20px 0px;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 2px solid #00FFFF;
}

.progrInfoTextConteinerBlock{
    width: 100%;
    /* height: 100%; */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    margin: 50px 0px 0px 0px;
}

.progrInfoTextConteiner{
    text-align: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 500px;
    margin: 10px 20px 10px 20px;
    background: #2d2d2d;
}

.progrInfoTextConteiner p2{
    font-size: 40px;
    margin: 0px 0px 20px 0px;
}

.progrInfoTextConteiner p3{
    margin: 0px 0px 10px 0px;
    font-size: 18px;
}

.progrInfoTextConteiner p4{
    margin: 0px 0px 20px 0px;
    font-size: 18px;
}

.sliderMain, .sliderMain2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px 10px 0px;
}

.progrInfo{
    margin: 0px 0px 50px 0px;
}

.progrInfo p2, .progrInfo p2{
    margin: 80px 20px 50px 20px;
    border-bottom: 2px solid #00FFFF;
    padding: 0px 0px 20px 0px;
    font-size: 40px;
    font-weight: bold;
}

.wrapper, .wrapper2 {
    width: 90%;
    position: relative;
}

.wrapper i, .wrapper2 i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active, .wrapper2 i:active{
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child, .wrapper2 i:first-child{
    left: -22px;
}

.wrapper i:last-child, .wrapper2 i:last-child{
    right: -33px;
}

.wrapper .carousel, .wrapper2 .carousel2{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar, .carousel2::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition, .carousel2.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging, .carousel2.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card, .carousel2.dragging .card2 {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img), .carousel2 :where(.card2, .img) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card, .carousel2 .card2 {
    scroll-snap-align: start;
    height: 100%;
    list-style: none;
    /* background: #343638; */
    /* cursor: pointer; */
    /* padding-bottom: 15px; */
    flex-direction: column;
    border-radius: 8px;
}

.card .img img, .card2 .img img {
    width: 100%;
    height: 100%;
    /*border-radius: 50%;*/
    object-fit: cover;
    border: 15px solid #343638;
}

.zoomed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    object-fit: contain;
    cursor: zoom-out;
}

.carousel .card h2, .carousel2 .card2 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #D9D6D2;
    font-family: Tonky;
    overflow: hidden;
    white-space: nowrap; /* Текст не переносится на новую строку */
    text-overflow: ellipsis;
    /*font-size: 28px;*/
    /*font-size: 1.56rem;*/
    /*text-transform: uppercase;*/
}

.carousel:hover .card:hover h2, .carousel2:hover .card2:hover h2 {
    white-space: normal; /* Полный отображение текста при наведении */
    overflow: visible;
    text-overflow: inherit;
}

.carousel .card span, .carousel2 .card2 span {
    color: #6A6D78;
    font-size: 1.31rem;
}