html, body {
    height: 100%;
    margin: 0;
}

* {
    overflow: hidden;
    font-family: Sport;

}

.mainCont {
    width: 100%;
    height: 100%;

}

/*__Слайдер__*/
.mySlides {display: none}
/*img {vertical-align: middle;*/
/*opacity: 0.6;}*/

/* Slideshow container */
.slideshow-container {
    width: 100%;
    /*height: 750px;*/
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


.text-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #121212;
    transform: skew(24deg);
    padding: 5% 30px 0 10%;
    width: 65%;
    position: absolute;
    left: -10%;
    height: 100%;
}

.text-block-Inner{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text-block-Inner h1 {
    text-align: center;
    width: 700px;
    transform: skew(-25deg);
    margin: 0px 20px 50px 20px;
    border-bottom: 2px solid #00FFFF;
    padding: 0px 0px 25px 0px;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.text-block-Inner p{
    text-align: center;
    transform: skew(-25deg);
    margin: 0px 20px 50px 20px;
    padding: 0px 80px 0px 0px;
    font-size: 18px;
    color: white;
}
.pic-block {
    width: 50%;
    float: right;
}
.pic-block img {
    display: block;
    max-width: 100%;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    background: #000;
}

@-webkit-keyframes fade {
    from {opacity: .8}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .8}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
.text-block form{
    transform: skew(-25deg);
    padding: 0px 160px 0px 0px;
}
.text-block button{
    color: black;
    height: 40px;
    border-radius: 15px;
    /*margin: 0px 20px 0px 0px;*/
    width: 150px;
    border: 2px solid #00FFFF;
    background-color: #00FFFF;
    cursor: pointer;
    font-size: 18px;
}
.text-block button:hover{
    border-color: rgba(0, 255, 255, 0.49);
    background-color: rgba(0, 255, 255, 0.49);
    color: white;
    opacity: 0.9;
}