<style>
    /*___футер___*/
    .footer{
        background-color: #151515;
        /*width: 100%;*/
        padding: 60px 150px 0px 150px;
        display: flex;
        flex-direction: row;
        /*align-items: center;*/
        justify-content: space-between;
        height: 325px;
    }

    .compInfo{
        width: 100%;
        display: flex;
        justify-content: left;
        /*align-items: center;*/
        flex-direction: column;
        margin: 0px 200px 0px 0px;
    }

    .compInfo p1{
        color: white;
        font-size: 36px;
        margin: 0px 0px 30px 0px;
        font-weight: bold;
    }

    .compInfo p3, .compInfo p2{
        color: white;
        font-size: 20px;
        margin: 0px 0px 20px 0px;
    }

    .compInfoLink{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .compInfoLink img{
        width: 64px;
        height: 64px;
        margin: 0px 20px 0px 0px;
    }


    .getInfo{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        /*align-items: center;*/
        flex-direction: column;
    }
    .getInfo p1{
        color: white;
        font-size: 36px;
        margin: 0px 0px 30px 0px;
        font-weight: bold;
    }

    .getInfoLink{
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
    }
    .getInfoLink img{
        width: 70px;
        height: 70px;
        margin: 0px 50px 0px 0px;
    }

    .getInfoLinkText{
        width: 300px;
        display: flex;
        flex-direction: column;
    }

    .getInfoLinkText p1, .getInfoLinkText a{
        color: white;
        font-size: 20px;
        margin: 0px 0px 10px 0px;
    }
</style>

<div class="footer">
    <div class="compInfo">
        <p1>SportStorm</p1>
        <p2>Вся информация защищена<br>Все транзакции обрабатываются с использованием безопасных протоколов</p2>
        <p3>Cистемы оплаты:</p3>
        <div class="compInfoLink">
            <img src="/images/footerDir/applePayLogo.png">
            <img src="/images/footerDir/masterCardLogo.png">
            <img src="/images/footerDir/visaLogo.png">
            <img src="/images/footerDir/googlePayLogo.png">
        </div>
    </div>

    <div class="getInfo">
        <p1>Контакты:</p1>
        <div class="getInfoLink">
            <img src="/images/footerDir/mailIcon.svg">
            <div class="getInfoLinkText">
                <p1>Почта</p1>
                <p2><a href="sportstormmanager@gmail.com">sportstormmanager@gmail.com</a></p2>
            </div>
        </div>

    </div>
</div>