<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>SportStorm</title>
<!--    <link rel="shortcut icon" href="/images/bmw_logo.png" type="image/png">-->
</head>

<body>

    <div class="mainCont">
        <div class="form">
            <p1>SPORT<br>STORM</p1>
            <div class="circle">
                <img src="/images/mainWind/initWindCenter.png">
            </div>
            <p2>Зарядите свою жизнь энергией!</p2>
            <div class="mainButton">
                <form action="/#" target="_self">
                    <button class="goBut">Начать</button>
                </form>
                <form action="/#" target="_self">
                    <button class="loginBut">Login</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>
