<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/start.css">
    <title>SportStorm</title>
</head>

<style>
    @font-face {
        font-family: Sport;
        src: url("/fonts/SportsWorld.otf");
    }
</style>

<body>
    <div class="mainCont">
        <div class="form">
            <p1>SPORT<br>STORM</p1>
            <div class="circle">
                <img src="/images/start/initWindCenter.png">
            </div>
            <p2>Зарядите свою жизнь энергией!</p2>
            <div class="mainButton">
                <form action="/main" target="_self">
                    <button class="goBut">Без регистрации</button>
                </form>
                <form action="/#" target="_self">
                    <button class="loginBut">Войти</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>
